body {
    background-color: #14ba46;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 200px;

}

#title {
    padding: 5px;

}

#info-box {
    border: white dashed 3px;
    padding: 5px;
    margin-bottom: 10px;


}

#flex-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 5px;

}

.cards-top{
    display:flex;
    flex-dirrection:row;
    margin:5px;
}

.cards-bottom{
    display:flex;
    flex-dirrection:row;
    margin:5px;
}


#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed white 3px;
    margin: 50px;
}

#dealer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed white 3px;
    margin: 50px;
}

.card {
    margin: 3px;
}


.score {
    margin: 10px;
    padding: 10px;
    border: white solid 5px;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#hit {
    background-color: whitesmoke;
    border: black solid 4px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex: 2;
}

#stand {
    background-color: whitesmoke;
    border: black solid 4px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex: 2;


}

#reset {
    background-color: whitesmoke;
    border: black solid 4px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex: 1;
}

#upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'fantasy;', copperplate, sans-serif;
    color: black;
    font-size: 25px;
}

#hit:hover {
    border: red solid 5px;
    color: red;
}

#stand:hover {
    border: red solid 5px;
    color: red;
}

#reset:hover {
    border: red solid 5px;
    color: red;
}

#reset:active {
    color: black;
}

#stand:active {
    color: black;
}

#hit:active {
    color: black;
}