.item {
	height: 200px;
	width: 200px;
	background-color: white;
	border: black 3px solid;
/*	text-align: center;*/
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.flex-container {
/*	border: red 3px solid;*/
	display:flex;
	flex-direction: row;
	justify-content:space-around;
}
#gallery{
	display: flex;
	flex-direction: column;
/*	border:blue dashed 3px;*/
	padding:3px;

}
#profile{
	background-color: black;
	width:100%;
	margin:10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:white;
	
	
}

/*.item{
	display:felx;
	flex-direction: row;
	border:red 2px solid;*/


#footer{
	background-color: black;
/*	border: red 3px solid;*/
	display:flex;
	flex-direction:row;
	justify-content: center;
	height:50px;


}

#everything{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
/*	border:green 3px solid;*/
	height:100vh;

}

.larger{
	background-color: white;
	margin:10px;
	width:100%;
	flex:3;

	
}

.smaller{
	background-color: white;
	margin:10px;
	width:100%;
	flex:1;
	
	
}

#content{
	display: flex;
	flex-direction:row;



}

.mini-profile{
/*	border:white solid 2px;*/
	margin:10px;
}

p{
	color: white;
}


