.header{
  border:#2892D7 solid 3px;
  padding:15px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.header-right{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex:4;

}

.header-left{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex:1;

}

.header-button{
  margin:4px;
  flex:1;
  background-color:white;
  border:#2892D7 solid 2px;
  color:#2892D7;
}

#main{
  background-color: #2892D7;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Open Sans', Montserrat, Arial, Helvetica, sans-serif;
  padding: 70px;
}

#big-logo{
  margin-right: 100px;
}