.header{
  border:black solid 3px;
  padding:15px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.header-right{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex:4;

}

.header-left{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex:1;

}

.header-button{
  margin:4px;
  flex:1;
  background-color:white;
  border:#6DAEDB solid 2px;
  color:#6DAEDB;
}